<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_absence_root"
              name="Gestion des Absences"
              sequence="10"/>

    <menuitem id="menu_professeur"
              name="Professeurs"
              parent="menu_absence_root"
              sequence="10"/>

    <menuitem id="menu_absence"
              name="Absences"
              parent="menu_absence_root"
              sequence="20"/>

</odoo>
